#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: MuseoSans-300;
  color: #1A4C2D;
}

@font-face {
  font-family: "MuseoSans-300";
  src: local("MuseoSans-300"),
    url("./fonts/MuseoSans-300.otf") format("opentype");
  font-weight: normal;
}

.secondaryAmountInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.totalInvest, .todayInvest {
  display: flex;
}

.totalInvest {
  background-color: #F2F0EB;
  border-radius: 3rem;
  padding: .2rem;
}

.totalInvest p {
  padding: .5rem;
  font-size: 50px;
  font-weight: 200;
  width: 100%;
  margin: 0;
}

.todayInvest p {
  padding: .5rem;
  border-radius: 3rem;
  font-size: 50px;
  font-weight: 200;
  width: 100%;
}

.currentInvest {
  margin-top: 4rem;
}

.currentInvest .currentAmount {
  font-weight: 200;
  font-size: 100px;
  margin-top: 2rem;
  margin-bottom: 0;
}

.currentInvest .currentYear {
  font-weight: 200;
  font-size: 70px;
  margin: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1; 
  }
}

.gifJulien, .gifSeb {
  position: absolute;
  top: 60%;
  animation: slideUp 1.5s ease-out;
}

.gifJulien {
  right: 70%;
  padding-left: 1rem;
}

.gifSeb {
  left: 70%;
  padding-right: 1rem;
}

img {
  width: 100%;
  border-radius: 20px;
}

/** OFFICE SCREEN PART **/

@media (min-width: 2000px) {
  #root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: MuseoModerno;
    color: #1A4C2D;
  }

  .totalInvest p, .todayInvest p {
    font-size: 100px;
  }

  .invest-page {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
  }

  .currentInvest .currentAmount {
    margin-top: 0;
    font-size: 300px;
  }

  .currentInvest .currentYear {
    font-size: 120px;
  }

  .gifJulien, .gifSeb {
    top: 95%;
  }

  .secondaryAmountInfo {
    margin: 0 5rem;
  }
}

/** MOBILE PART **/

@media (max-width: 575px) {
  .totalInvest, .todayInvest {
    display: block;
    margin: auto;
    width: 100%;
  }

  .totalInvest p {
    margin: 0;
    font-size: 40px;
  }

  .currentInvest {
    width: 100%;
    margin: auto;
  }

  .currentInvest .currentAmount {
    margin: 50px 0;
    font-size: 50px;
  }

  .currentInvest .currentYear {
    margin: 0;
    font-size: 50px;
  }
}

/** MOBILE PART **/